<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663708826317-fkarhap9fs09bo8p9fruis7rt0nl3gck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663708826317-fkarhap9fs09bo8p9fruis7rt0nl3gck</string>
	<key>API_KEY</key>
	<string>AIzaSyBeiCWMGijjp5Ij0VNbEtLz-raft7n5kaE</string>
	<key>GCM_SENDER_ID</key>
	<string>663708826317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vitality123</string>
	<key>PROJECT_ID</key>
	<string>vitality-5f99e</string>
	<key>STORAGE_BUCKET</key>
	<string>vitality-5f99e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663708826317:ios:63c666fb267c1c81658784</string>
</dict>
</plist>